:root{
  background-color:rgb(2, 2, 2); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'TitleNameFont';
  src: url(https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap);
}
.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  
}
.background{
  background:linear-gradient(rgba(63, 69, 71, 0.5),transparent);
  background-color:rgb(10, 10, 10) /*this your primary color*/
}
.Name{
  color: rgba(249, 252, 255, .95);
  font-family: 'TitleNameFont';
  font-weight: 400;
  text-align:center;
}

.glowing-component {
  color: white;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px 5px rgba(117, 117, 117, 0.5);
}

.glowing-component.glowing {
  box-shadow: 0 0 20px 5px rgba(199, 199, 199, 0.8); /* Light blue glow */
}

.cardColumns {
  padding: 0%;
}


@media only screen and (max-width: 1200px) {
    .cardColumns {
      padding: 2.5%;
    }
}